<html>
  <head>
    <title><%= @story_title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= @story_descr %>">
    <meta property="og:title" content="<%= @story_title %>" />
    <meta property="og:site_name" content="<%= @share_sitename %>" />
    <meta property="og:image" content="<%= @story_image %>" />
    <meta property="og:description" content="<%= @story_descr %>" />
    <meta property="og:url" content="<%= @share_url %>" />
    <meta property="og:type"   content="website" />
  </head>
  <body>
    <script>window.location.href = '<%= @url %>';</script>
  </body>
</html>


