<html>
  <head>
    <title><%= @title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= @descr %>">
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:site_name" content="<%= @sitename %>" />
    <meta property="og:image" content="<%= @image %>" />
    <meta property="og:description" content="<%= @descr %>" />
    <meta property="og:url" content="<%= @share_url %>" />
    <meta property="og:type"   content="website" />
  </head>
  <body>
    <script>window.location.href = '<%= @url_with_locale %>';</script>
  </body>
</html>


