/*------------------------------------------ Common  --------------------------------------*/
  @font-face {
    font-family: "bebasneue_b";
    src: url(../fonts/bebasneue_b.otf) format("opentype");
    font-style: normal;
    font-weight: 200;
  }
  @font-face { /* english */
    font-family: "titillium";
    src: url(../fonts/titillium.otf) format("opentype");
    font-style: normal;
    font-weight: 200;
  }
  @font-face { /* english */
    font-family: "titillium_b";
    src: url(../fonts/titillium_b.otf) format("opentype");
    font-style: normal;
    font-weight: 200;
  }
  @font-face { /* georgian */
    font-family: "bpgnp";
    src: url(../fonts/bpgnp.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
  }
  @font-face { /* georgian */
    font-family: "dejavusans_b";
    src: url(../fonts/dejavusans_b.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
  }
  @font-face { /* russian */
    font-family: "arsenal";
    src: url(../fonts/arsenal.otf) format("opentype");
    font-style: normal;
    font-weight: 200;
  }
  @font-face { /* russian */
    font-family: "arsenal_b";
    src: url(../fonts/arsenal_b.otf) format("opentype");
    font-style: normal;
    font-weight: 200;
  }
  body, html
  {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color:#eff4f4;
    overflow:hidden;
  }
  * { box-sizing: border-box; }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
/*------------------------------------------ Tooltip  --------------------------------------*/

.tooltip-box { color:#000; }
.tooltip-box:lang(en) { font:14px titillium; }
.tooltip-box:lang(ka) { font:14px bpgnp; }
.tooltip-box:lang(ru) { font:14px arsenal; }
.tooltip-box .title { font: 24px bebasneue_b; }
.tooltip-box .quote {
  color:#2BBCA0;
  padding-top: 11px;
}
.tooltip-box .quote:lang(en) { font:16px titillium; }
.tooltip-box .quote:lang(ka) { font:16px bpgnp; }
.tooltip-box .quote:lang(ru) { font:16px arsenal; }
.tooltip-box span:lang(en) { font:14px titillium_b; }
.tooltip-box span:lang(ka) { font:14px dejavusans_b; }
.tooltip-box span:lang(ru) { font:14px arsenal_b; }

/*------------------------------------------ Loader  --------------------------------------*/

  #loader {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    background-color:#f7f7f7;
  }
  .loader-box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
  }
  .loader-title {
    text-align: left;
    display: inline-block;
  }
  .loader-title span {
    font:16px bebas_r;
    color:#000000;
    white-space:nowrap;
  }
  .loader-title span:first-child {
    font:20px bebas_r;
    color: #2BBCA0;
  }
  #loader_image {
    display:block;
    margin: 0 auto;
    padding:16px 0;
  }

  .loader-title span {
    font:25px bebasneue_b;
    color:#000000;
    white-space:nowrap;
  }
  .loader-title span:first-child {
    font:32px bebasneue_b;
    color:#2BBCA0;
  }
  #loader_progress {
    display:block;
    font:25px bebasneue_b;
    color:#000000;
  }
  .loader-text {
    color:#000;
    text-align:center;
    width:100%;
    max-width:992px;
    margin:0 auto;
  }
  .loader-text:lang(en) { font:20px titillium; }
  .loader-text:lang(ka) { font:20px bpgnp; }
  .loader-text:lang(ru) { font:20px arsenal; }

  .require-js {
    position:absolute;
    left:20px;
    bottom:20px;
  }
  .require-js div {
    color:#e14e41;
    padding:2px 0;
  }
  .require-js div:lang(ka) { font:19px bpgnp; }
  .require-js div:lang(en) { font:19px titillium; }
  .require-js div:lang(ru) { font:19px arsenal; }

/*------------------------------------------ Panorama  ------------------------------------*/

  #helper {
    display:inline-block;
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, .9);
    border-radius:100%;
    width:200px;
    height:200px;
    padding: 50px 52px;
    text-align: center;
    z-index:998;
  }
  #helper span {
    display:block;
    color:#000;
  }
  #helper span:lang(ka) { font:16px bpgnp; }
  #helper span:lang(en) { font:15px titillium; }
  #helper span:lang(ru) { font:16px arsenal; }
  #helper i {
    display:inline-block;
    background:transparent url(../images/drag.svg) no-repeat center;
    width:50px;
    height:42px;
    position:relative;
    top:21px;
  }

/*------------------------------------------ Panorama  ------------------------------------*/
  .wrapper {
    display:flex;
    flex-direction: column;
    margin:0px auto;
    height:100%;
  }
  .sound-toggle {
    display: inline-block;
    cursor:pointer;
  }
  .sound-toggle.d {
    position:fixed;
    top:16px;
    right:20px;
    width:40px;
    height:40px;
    z-index:22;
    background-color:#fff;
    border: 1px solid #000;
    border-radius:10px;
    transform: rotateZ(45deg);
  }
  .sound-toggle.d i {
    transform: rotateZ(-45deg);
  }
  .sound-toggle.m {
    padding: 9px 9px 8px;
  }
  .sound-toggle i {
    display:inline-block;
    width:39px !important;
    height:39px !important;
    background:transparent url(../images/sound.svg) no-repeat center/25px 23px;
  }
  .sound-toggle.muted i {
    background:transparent url(../images/soundoff.svg) no-repeat center/25px 23px;
  }
  // #sound {

  // }

  // #sound:before {
  //   position:absolute;

  // }
  // #sound:after {
  //   position:absolute;
  //   display:block;
  //   content:"";
  //   width:40px;
  //   height:40px;
  //   background:transparent url(../images/sound.svg) no-repeat center/25px 23px;
  // }
  // #sound.muted:after {

  // }

  header {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 60px;
    background-color: #434244;
    color:#fff;
    z-index: 21;
    padding: 0 12px 0 12px;
    border-bottom: 1px solid #DDDDDD;
  }
  header .left span:first-of-type {
    color:gray;1
  }
  header .left span {
    display:block;
    text-transform: uppercase;
    font-size: 12px;
    white-space:nowrap;
  }
  header .center {
    width:100%;
    text-align:center;
  }
  header .center span {
    display:block;
    text-transform: uppercase;
  }
  header .center span:first-of-type {
    font:20px tahoma;
    color:#fff;
  }
  #panorama {
    height:100%;
    // padding:60px 0 60px 0;
    position:relative;
    z-index:5;
    overflow:hidden;
  }
  #panorama .container {
    position: absolute;
    top: 0px;
  }
  #panorama .surface {
    height:100%;
    z-index:7;
    width:100%;
    padding:0;
    position: absolute;
    top: 0;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    pointer-events: all;
  }
  #panorama .apanel {
    height:100%;
    z-index:8;
    width:100%;
    padding:0;
    position: absolute;
    top: 0;
    pointer-events:none;
  }
  #panorama .apanel svg {
    width:100%;
    height:100%;
  }
  #panorama .apanel svg .anim-object {
    pointer-events:all;
    cursor:pointer;
  }

  #panorama .surface:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
  }

  #panorama .container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    height: 100%;
    padding: 0;// 0 60px 0;
    display:flex;
    flex-direction: row;
  }
  #panorama .container .panel {
    height:100%;
    z-index:6;
    /* display:table-cell; */
    transform: translate3d(0, 0, 0);
    position:relative;
  }
  #panorama .container .panel object {
    height:100%;
  }
  #panorama .container .panel object[data-type="fg"] {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
  }

/*------------------------------------------ Nav ------------------------------------------*/

  .nav {
    width: 100%;
    height:60px;
    min-height: 60px;
    background-color: #434244; /* #F7F7F7; */
    z-index:21;
    padding:0 0 0 12px;
    border-top:1px solid #DDDDDD;
  }
  .nav .mob, .nav .des {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    height:100%;
    position:relative;
  }
  .nav .des { display: none; }
  .nav-prev {
    background: transparent url(../images/story_toggle.svg) left;
    background-size: cover;
    width:28px;
    height: 54px;
    opacity:.7;
    margin-left: 10px;
  }

  .nav-next {
    background: transparent url(../images/story_toggle.svg) right;
    background-size: cover;
    width:28px;
    height: 54px;
    opacity:.7;
    margin-right: 10px;
  }
  .nav-next:hover, .nav-prev:hover {
    opacity:1;
    cursor:pointer;
  }
  .nav .center {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    justify-content: center;
  }
  .nav-title {
    padding-top: 4px;
    text-decoration:none;
  }
  .nav-title span {
    font:19px bebasneue_b;
    color:#000000;
    white-space:nowrap;
  }
  .nav-title span:first-child {
    font:24px bebasneue_b;
    color:#2BBCA0;
  }
  .minimap {
    height:50px;
    width:624px;
    position:relative;
    overflow:hidden;
    margin:0 12px;
    // background: transparent url(../images/map.png) no-repeat center;
  }
  .minimap .overlay {
    display:flex;
    flex-direction: row;
    position:absolute;
    top:0;
    height:100%;
    pointer-events:none;
  }
  .minimap .overlay .cape {
    display:inline-block;
    opacity:0.4;
    background-color:#000;
    height: 100%;
    pointer-events:none;
  }
  .minimap .overlay .light {
    display:inline-block;
    height:100%;
    cursor:pointer;
    cursor:-webkit-grab;
    pointer-events:all;
  }
  .minimap .overlay .light-main {
    // background-color:purple;
    // opacity:0.1;
  }
/*   .minimap object {
  position:absolute;
  top:0;
  height:100%;
} */
  .nav-menu {
    position:relative;
    height:100%;
    // width: 100%;
    text-align: right;
    flex-basis:100%;

    // flex:0 0;
  }
  .nav-menu > div {
    vertical-align: top;
  }
  // [data-menu='main'] > .nav-menu-toggle:before,
  // [data-menu='sub'] > .nav-menu-toggle:before {
  //   background-position: -33px 0;
  // }
  .nav-menu-toggle {
    display:inline-block;
    width:57px;
    height:100%;
    padding:16px 10px 6px;
    cursor:pointer;
  }
  .nav-menu-toggle:before {
    display:inline-block;
    content:"";
    background:transparent url(../images/toggle.svg) no-repeat;
    background-position: 0 0;
    width:32px;
    height:26px;
  }
  .nav-menu-toggle.active:before {
    background-position:-33px 0;
  }
  .nav-menu-container {
    display:none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right:0px;
    bottom: 60px;
    background-color: rgba(247, 247, 247, 0.95);
  }
  [data-menu='main'] > .nav-menu-container,
  [data-menu='sub'] > .nav-menu-container {
    display:flex;
  }
  [data-menu='sub'] > .nav-menu-container > li:not(.active) {
    display:none;
    border-bottom:0;
  }
  [data-menu='sub'] > .nav-menu-container > li.active {
    border-bottom:0;
  }
  .nav-menu-container li {
    height:100%;
    width: 100%;
    position:relative;
  }
  .nav-menu-container > li > a {
    display:flex;
    // height:100%;
    width:100%;
    padding:18px 20px 18px 24px;
    font:18px bebasneue_b;
    color:#000000;
    text-decoration:none;
    white-space:nowrap;
    align-items: center;
  }
  .nav-menu-container > li:not(:last-child) {
    border-bottom:1px solid #ddd;
  }

  .nav-menu-container > li > a:hover {
    color:#2BBCA0;
  }
  .nav-menu-container > li > a {
    display:flex;
    flex-direction: row;
    align-content: center;
  }
  .nav-menu-container a span {
    display:inline-block;
    width:100%;
    padding: 6px 12px 0 0;
    order:1;
    flex:1;
  }
  .nav-menu-container li a i {
    display:inline-block;
    width:30px;
    // flex-basis:30px;
    height:28px;
    order:2;
  }
  .nav-menu-container > li > a:hover > i:not(.sound) {
    background-position:-31px 0;
  }

  .nav-menu-container i.about { background:transparent url(../images/about.svg) no-repeat; }
  .nav-menu-container i.share { background:transparent url(../images/share.svg) no-repeat; }
  .nav-menu-container i.language { background:transparent url(../images/language.svg) no-repeat; }
  .nav-menu-container i.behind { background:transparent url(../images/behind.svg) no-repeat; }



  .nav-menu-sub-container {
    display:none;
    // position: absolute;
    // width: 100%;
  }
  .nav-menu-sub-container > li {
    text-align:center;
  }
  [data-menu='sub'] .nav-menu-sub-container {
    display:flex;
    flex-direction: column;
  }

  .nav-menu-sub-container > li:not(:last-child) {
    border-bottom:1px solid #ddd;
  }
  .nav-menu-sub-container > li > a {
    display: inline-block;
    font:14px bebasneue_b ;
    color:#000000;
    text-align: left;
    text-decoration:none;
    white-space:nowrap;
    width:100%;
    padding:18px 20px 18px 24px;
  }
  .nav-menu-sub-container > li > a:hover {
   color:#2BBCA0;
  }
  li.active > .nav-sub-menu-toggle {
    color:#2BBCA0;
    border-bottom:1px solid #ddd; }
  li.active .nav-sub-menu-toggle > i {
    background-position:-31px 0;
  }

  .nav-sub-menu-toggle[data-current='english'] + ul li[data-item='english']  a,
  .nav-sub-menu-toggle[data-current='russian'] + ul li[data-item='russian']  a,
  .nav-sub-menu-toggle[data-current='georgian'] + ul li[data-item='georgian']  a {
    color:#2BBCA0;
  }
  .nav-sub-menu-toggle[data-current='english'] + ul li[data-item='english'],
  .nav-sub-menu-toggle[data-current='russian'] + ul li[data-item='russian'],
  .nav-sub-menu-toggle[data-current='georgian'] + ul li[data-item='georgian'] {
    display:none;
  }

  // .nav-menu-sub-container.share i{
  //   width:30px;
  //   height:28px;
  // }
  // .nav-menu-sub-container.share li a {
  //   padding:8px 20px 18px 8px;
  // }
  // .nav-menu-sub-container.share .facebook i { background:transparent url(../images/fb.svg) no-repeat; }
  // .nav-menu-sub-container.share .twitter i { background:transparent url(../images/twitter.svg) no-repeat; }
  // .nav-menu-sub-container.share .more i { background:transparent url(../images/more.svg) no-repeat; }
  // .nav-menu-sub-container.share a:hover:not(.nohover) i { background-position:-31px 0; }
  .nav-sub-menu-back i {
    display:inline-block;
    background:transparent url(../images/back.svg) no-repeat center/22px 13px;
    width: 48px !important;
    height: 48px !important;
    padding: 0px 20px 0 24px;
  }

  .nav-menu-sub-container.share {
    width:auto !important;
  }
  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn:hover {
    transform: none !important;
  }

  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn {
    display:block !important;
    max-width: 48px !important;
    max-height: 48px !important;
    margin: 0 !important;
    transition: none !important;
  }
  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn .at-icon-wrapper {
    background-color:transparent !important;
    line-height: 48px !important;
    height: 48px !important;
    width: 48px !important;
    padding: 8px 11px 8px 9px !important
  }

  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn svg {
    stroke: black !important;
    fill: transparent !important;
  }
  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn:hover svg { stroke: #2BBCA0 !important; fill: transparent !important; }
  .nav-menu-sub-container .addthis_sharing_toolbox > div {
    display:flex !important;
    flex-direction: column !important;
  }
  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn.at-svc-facebook { order: 3; }
  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn.at-svc-twitter { order: 2; }
  .nav-menu-sub-container .addthis_sharing_toolbox .at-share-btn.at-svc-compact { order: 1; }










/*------------------------------------------ Popup ----------------------------------------*/
  .popup {
    z-index:31;
  }
  .popup[data-type=''] {
    display:none;
  }
  .popup.open {
    display:block;
  }
  .popup .bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index:32;
  }
  .popup .window {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:60px;
  /*   top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%); */
    margin: 0 auto;
    background-color:#f7f7f7;
    border:1px solid #ddd;
    border-bottom:0;
    overflow: hidden;
    z-index:33;
  }
  .popup .window .close {
    background:transparent url(../images/close.svg) center/24px;
    width:24px;
    height:24px;
    position:absolute;
    right:20px;
    top:20px;
    cursor:pointer;
  }


  .popup .window .content {
    height:100%;
    margin:61px 28px 0;
    /* height:100%; */
    padding: 0px 48px;
    /* margin: 61px 28px 40px; */
    overflow-y: auto;
  }
  .popup .window .content .section {
    display:none;
    height:100%;
  }
  .popup[data-type='about'] .window .content .section.about,
  .popup[data-type='behind'] .window .content .section.behind,
  .popup[data-type='story'] .window .content .section.story {
    display:initial;
  }
  .popup .window .content::-webkit-scrollbar-track {
    background-color: #f6f6f6;
  }
  .popup .window .content::-webkit-scrollbar {
    height: 8px;
    width:8px;
  }
  .popup .window .content::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border: 2px solid #f6f6f6;
  }
  .popup .window .content::-webkit-scrollbar-thumb:hover {
    background-color: #b1b1b1;
    cursor: pointer;
  }
  .popup .window .caption {
    font: 30px 'bebasneue_b';
    color:#2bbca0;
    text-align:center;
    padding:0 0 47px;
  }
  .popup .window .author {
    color:#2bbca0;
    text-align:center;
    padding:0 0 47px;
    margin-top: -30px;
  }
  .popup .window .author:lang(en) { font:18px titillium; }
  .popup .window .author:lang(ka) { font:18px bpgnp; }
  .popup .window .author:lang(ru) { font:18px arsenal; }

  .popup .window .text {
      color:#000;
      text-align:left;
      max-width:992px;
      margin:0 auto;
      padding-bottom:120px;
    }
  .popup .window .text:lang(en) { font:18px titillium; }
  .popup .window .text:lang(ka) { font:18px bpgnp; }
  .popup .window .text:lang(ru) { font:18px arsenal; }
  .popup .window .text p {
    margin: 18px 0;
  }
  .popup .window .section.behind .credits {
    padding:45px 0 36px;
    text-align:center;
  }
  .popup .window .section.behind .credits:lang(en) { font:20px titillium_b; }
  .popup .window .section.behind .credits:lang(ka) { font:20px bpgnp_b; }
  .popup .window .section.behind .credits:lang(ru) { font:20px arsenal_b; }

  .popup .window .section.behind .text ul {
    width:100%;
    text-align:center;
  }
  .popup .window .section.behind .text ul li {
    color:#000;
    margin-bottom: 18px;
  }
  .popup .window .section.behind .text ul li:lang(en) { font:18px titillium; }
  .popup .window .section.behind .text ul li:lang(ka) { font:18px bpgnp; }
  .popup .window .section.behind .text ul li:lang(ru) { font:18px arsenal; }

  .popup .window .section.behind .text ul li span:lang(en) { font:18px titillium_b; }
  .popup .window .section.behind .text ul li span:lang(ka) { font:18px bpgnp_b; }
  .popup .window .section.behind .text ul li span:lang(ru) { font:18px arsenal_b; }

  .popup .window .section.about .footer
   {
      color:#000;
      text-align:left;
      padding:20px 0 0;

    }
  .popup .window .section.about .footer:lang(en) { font:18px titillium; }
  .popup .window .section.about .footer:lang(ka) { font:18px bpgnp; }
  .popup .window .section.about .footer:lang(ru) { font:18px arsenal; }

/*------------------------------------------ Story Popup ----------------------------------*/
  .story-popup {
    z-index:31;

  }

  .story-popup[data-current=''] {
    display:none;
  }

  .story-popup .prev-toggle {
    position:absolute;
    background: transparent url(../images/story_toggle.svg) left;
    background-size: cover;
    width: 44px;
    height: 88px;
    top:50%;
    left:-44px;
    transform:translateY(-50%);
    opacity:.7;
    z-index:35;
  }
  .story-popup .next-toggle {
    position:absolute;
    background: transparent url(../images/story_toggle.svg) right;
    background-size: cover;
    width: 44px;
    height: 88px;
    top:50%;
    right:-44px;
    transform:translateY(-50%);
    opacity:.7;
    z-index:35;
  }
  .story-popup .prev-toggle:hover,
  .story-popup .next-toggle:hover {
    opacity:1;
    cursor:pointer;
  }
  .story-popup .share-story-box {
    position: absolute;
    top: 0px;
    width:100%;
    height:48px;
    z-index:34;
  }
  .story-popup .share-story-box2 {
    width:100%;
    height:100%;
    max-width: 992px;
    margin: 0 auto;
  }
  .story-popup .share-story {
    position:relative;
    display:inline-block;
    width: 48px;
    height: 48px;
    border-bottom:1px solid transparent;
  }
  .story-popup .share-story i {
    display:inline-block;
    background: rgba(0,0,0,.7) url(../images/share_story.svg) no-repeat center/28px;
    width: 48px;
    height: 47px;
  }
  .story-popup .share-story:hover {
    cursor:pointer;
    border-bottom:1px solid #fff;
  }
  .story-popup .share-story .addthis_sharing_toolbox { display:none; }
  .story-popup .share-story:hover .addthis_sharing_toolbox {
    display:initial;
    background-color: rgba(0,0,0,.7);
    position:absolute;
    top:100%;
    left: 0;
    margin-top: 1px;

  }
  .story-popup .share-story .addthis_sharing_toolbox .at-share-btn:hover {
    background-color: rgba(0,0,0,1) !important;
    transform: none !important;
  }

  .story-popup .share-story .addthis_sharing_toolbox .at-share-btn {
    display:block !important;
    max-width: 48px !important;
    max-height: 48px !important;
    margin: 0 !important;
    transition: none !important;
  }
  .story-popup .share-story .addthis_sharing_toolbox .at-share-btn .at-icon-wrapper {
    background-color:transparent !important;
    line-height: 48px !important;
    height: 48px !important;
    width: 48px !important;
    padding: 8px 10px !important;
  }
  .story-popup .share-story .addthis_sharing_toolbox .at-share-btn svg {
    stroke: #fff !important;
    fill: transparent !important;
  }
  .story-popup .share-story .addthis_sharing_toolbox .at-share-btn:hover svg { stroke: #fff !important; fill: transparent !important; }


  .story-popup .bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index:32;
  }
  .story-popup .window {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:60px;
    margin: 0 auto;
    background-color:#f7f7f7;
    border:1px solid #ddd;
    border-bottom:0;
    z-index:33;
    opacity:0;

    /*transition: opacity 3s linear; */
  }
  .story-popup.opened .window {
   /*    opacity:1;
  transition: opacity 3s linear;
   */
  }
  .story-popup .window .close {
    background:#f7f7f7 url(../images/close.svg) center/24px;
    width:24px;
    height:24px;
    position:absolute;
    right:20px;
    top:20px;
    opacity:.7;
    z-index:35;
  }
  .story-popup .window .close:hover {
    cursor:pointer;
    opacity:1;
  }

  .story-popup .window .content-box {

    overflow: hidden;
  }
  .story-popup .content {
    display:flex;
    flex-direction:row;


  }
  .story-popup .window .content .story {
    display:none;
    min-width: 100%;
    flex:1;

  }
  .story-popup .window .content .story .r {
    padding:24px 21px 0;
  }
  .story-popup .window .content .story .c {
    display:block;
    color:#000;
    text-align:left;
  }
  .story-popup .window .content .story .c:lang(en) { font:18px titillium; }
  .story-popup .window .content .story .c:lang(ka) { font:18px bpgnp; }
  .story-popup .window .content .story .c:lang(ru) { font:18px arsenal; }
  .story-popup .window .content .story .c .b:lang(en) { font:18px titillium_b; }
  .story-popup .window .content .story .c .b:lang(ka) { font:18px dejavusans_b; }
  .story-popup .window .content .story .c .b:lang(ru) { font:18px arsenal_b; }
  .story-popup .window .content .story .c > div {
    display:block;
  }
  .story-popup .window .content .story .quote {
    color:#2bbca0;
    padding:24px 0 30px;
    text-align:left;
  }
  .story-popup .window .content .story .title {
    font: 30px 'bebasneue_b';
    color:#000;
    text-align:center;
    padding:30px 0 15px;
  }
  .story-popup .window .content .story .scroll-box {
    overflow-y:auto;
    width:100%;
    color:#000;
    text-align:center;
   }
   .story-popup .window .content .story .scroll-box > * {
      max-width:992px;
      margin:0 auto;
    }
    .story-popup .window .content .story .scroll-box .youtube,
    .popup .window .content .section .youtube {
      margin:0 auto;
      max-width: 1100px;
    }
  .popup .window .content .section .youtube-box {
    text-align:center;
  }

  .story-popup .window .content .story.active {
    display:initial;
    order:1;
  }
  .story-popup .window .content .story.first {
    display:initial;
    order:2;
  }
  .story-popup .window .content .story.second {
    display:initial;
    order:3;
  }

  /* .story-popup[data-current='1'] .window .content .story[data-id='1'] {
    display:initial;
  } */
  *::-webkit-scrollbar-track {
    background-color: #d8d8d8;
    border: 2px solid #f7f7f7;
  }
  *::-webkit-scrollbar {
    height: 8px;
    width: 6px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #2bbca0;
    border: #2bbca0;
    border-radius: 3px;
    opacity: .8;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #2bbca0;
    cursor: pointer;
    opacity:1;
  }


  @-webkit-keyframes scroll-left {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes scroll-left {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @-webkit-keyframes scroll-right {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes scroll-right {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .scroll-left {
    -webkit-animation-name: scroll-left;
    animation-name: scroll-left;
  }
  .scroll-right-origin {
    transform: translate3d(-100%, 0 , 0);
  }
  .scroll-right {
    -webkit-animation-name: scroll-right;
    animation-name: scroll-right;
  }


  .d { display:none; }
/*------------------------------------------ Layers ----------------------------------------*/

  .layer-colored {
    opacity:.1;
  }

  .layer-colored:hover {
    opacity:1 !important;
    cursor:pointer;
  }
  .layer-colored {
    -webkit-transition: translate3d(0,0,0);
    transition: translate3d(0,0,0);
    webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    // -webkit-transform-origin: 50% 100%;
    // -moz-transform-origin: 50% 100%;
    // transform-origin: 50% 100%;
  }

/*------------------------------------------ Media ----------------------------------------*/

  @media (min-width: 768px) {  /* Small devices (tablets, 768px and up) */

  }

  @media (min-width: 992px) { /* Medium devices (desktops, 992px and up) */
    #loader_image { padding:16px 0 16px; }
    #loader_progress { padding:16px 0 75px; }
    .d { display:initial; }
    header.d { display: flex; }
    .nav .des { display: flex; }
    .nav .mob { display: none; }
    .nav {
      padding:0;
    }
    // .nav-menu {
    //   width:auto;
    // }
    .nav-title {
      padding:0 42px 0 0;
    }
    .nav-menu {
      flex-basis:0%;
    }
    .nav-menu-container {
      position:static;
      display: flex;
      flex-direction: row-reverse;
      height: 100%;
      align-content:center;
      background-color: #f7f7f7;
    }
    [data-menu='main'] > .nav-menu-container,
    [data-menu='sub'] > .nav-menu-container {
      display:flex;
    }
    [data-menu='sub'] > .nav-menu-container > li:not(.active) {
      display:initial;
    }
    [data-menu='main'] > .nav-menu-container > li,
    [data-menu='sub'] > .nav-menu-container > li {
      border-bottom:0;
    }
    li.active > .nav-menu-sub-container {
      display:flex;
      flex-direction: column;
      position:absolute;
    }
    li.active > .nav-sub-menu-toggle {
      color:initial;
      border-bottom:0;
    }
    li.active .nav-sub-menu-toggle > i {
      background-position:0 0;
    }
    .nav-menu-container li {
      border-left:1px solid #ddd;
    }
    .nav-menu-container a span {
      width:auto;
      padding: 6px 0 0 12px;
      order:2;
    }
    .nav-menu-container li a i {
      order:1;
    }
    .nav-menu-toggle {
      display:none;
    }
    .nav-menu-container li:not(:last-child) {
      border-bottom: 0;
    }
    .m { display: none; }
    .nav-menu-sub-container {
      width: 100%;
      bottom: 100%;
      background-color:#F7F7F7;
      border:1px solid #ddd;
    }
    .nav-menu-sub-container a.nav-sub-menu-back {
      display:none;
    }
    .popup .window {
      top:88px;
      left:88px;
      right:88px;
      bottom:60px;
    }
    .story-popup .window {
      top:45px;
      left:50px;
      right:50px;
      bottom:105px;
    }
    .story-popup .window .content .story {
      padding: 0 29px;
    }
    .story-popup .window .content .story .r {
      display:flex;
      flex-direction: row;
      padding:38px 0 50px;
      align-items: center;
    }
    .story-popup .window .content .story .c {
      display:block;
      flex:1;
    }
  }

  @media (min-width: 1200px) { /* Large devices (large desktops, 1200px and up) */
  }

