/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.loader {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:4;
}
.loader:lang(ka) {
/*   background: url(../images/plane_ka.gif) no-repeat center/contain,
              url(../images/poster/bg.jpg) repeat; */
}
.loader:lang(en) {
 /*  background: url(../images/plane_en.gif) no-repeat center/contain,
              url(../images/poster/bg.jpg) repeat; */
}

.require-js {
    position:absolute;
    left:20px;
    bottom:20px;
}
.require-js div:lang(ka) {
  font:19px 'dejavu-neue', 'sans-serif';
  color:#e14e41;
}
.require-js div:lang(en) {
  font:19px 'opensans', 'sans-serif';
  color:#e14e41;
}



body,html
{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background-color:#eff4f4;
}
* {
  box-sizing: border-box;
}
.noscroll { overflow:hidden; }
.wrapper
{
  margin:0px auto;
  height:100%;
}
#panorama {
  background-color:lightgray;
  height:100%;
  padding:0 0 60px 0;
  position:relative;
  z-index:5;
  overflow:hidden;
}
#panorama .surface {
  height:100%;
  z-index:7;
  width:100%;
  padding:0 0 60px 0;
  position: absolute;
  top: 0px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#panorama .surface:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#panorama .container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  height: 100%;
  padding: 0 0 60px 0;
  display:flex;
  flex-direction: row;
}
#panorama .container .panel {
  height:100%;
  z-index:6;
  /* display:table-cell; */
  transform: translate3d(0, 0, 0);
}
#panorama .container .panel object {
  height:100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position:relative;
  top:-60px;
  width: 100%;
  height: 60px;
  background-color: #F7F7F7;
  z-index:21;
  padding:0 0 0 12px;
  border-top:1px solid #DDDDDD;
}
.nav > div {
  justify-content: center;
}
.nav-title {

}
.nav-title span {
  font:16px bebas_r;
  color:#000000;
  white-space:nowrap;
}
.nav-title span:first-child {
  font:20px bebas_r;
  color: #2BBCA0;
}

.nav-map {
  display:none;
  width:100%;
}
.nav-menu {
  position:relative;
  height:100%;
  width:100%;
  text-align: right;
}
.nav-menu-toggle {
  display:inline-block;
  width:44px;
  height:100%;
  padding:16px 6px 6px;
  cursor:pointer;
}
.nav-menu-toggle:before {
  display:inline-block;
  content:"";
  background:transparent url(../images/toggle.svg) no-repeat;
  background-position: 0 0;
  width:32px;
  height:26px;
}
[data-menu='main'] > .nav-menu-toggle:before,
[data-menu='sub'] > .nav-menu-toggle:before {
  background-position: -33px 0;
}

.nav-menu-container {
  display:none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right:0px;
  bottom: 60px;
  background-color: rgba(247, 247, 247, 0.95);
}
[data-menu='main'] > .nav-menu-container,
[data-menu='sub'] > .nav-menu-container {
  display:flex;
}
[data-menu='sub'] > .nav-menu-container > li:not(:first-child) {
  display:flex;
  visibility: hidden;
}
.nav-menu-container a {
  display:flex;
  flex-direction: row;
  align-content: center;
  padding:24px 22px 24px 22px;
}
.nav-menu-container a span {
  display:inline-block;
  width:100%;
  padding: 6px 0 0;
}
.nav-menu-container li a i {
  display:inline-block;
  width:28px;
  height:30px;
  margin-left:12px;
}
.nav-menu-container li a:hover > i {
  background-position:-26px 0;
}
.nav-menu-container i.about { background:transparent url(../images/about.svg) no-repeat; }
.nav-menu-container i.share { background:transparent url(../images/share.svg) no-repeat; }
.nav-menu-container i.language { background:transparent url(../images/language.svg) no-repeat; }
.nav-menu-container i.behind { background:transparent url(../images/behind.svg) no-repeat; }
.nav-menu-container i.sound { background:transparent url(../images/sound.svg) no-repeat;
  background-size: contain;
 }
 .nav-menu-container li a:hover > i.sound {
    background-position:0px 0;
 }
.nav-menu-container li a.muted i { opacity:0.4; }

.nav-menu-container li {
  height:100%;
  width: 100%;
  position:relative;
}
.nav-menu-container li:not(:last-child) {
  border-bottom:1px solid #8E8E8E;
}
.nav-menu-container li a {
  display:flex;
  height:100%;
  width:100%;
  font:14px bebas_r;
  color:#000000;
  text-decoration:none;
  white-space:nowrap;
}
.nav-menu-container > li > a {
  /* padding:0 22px; */
}
.nav-menu-container li a i {

}
.nav-sub-menu-toggle[data-current='english'] + ul li a[data-item='english'] { display:none; }
.nav-sub-menu-toggle[data-current='russian'] + ul li a[data-item='russian'] { display:none; }
.nav-sub-menu-toggle[data-current='georgian'] + ul li a[data-item='georgian'] { display:none; }

.nav-sub-menu-toggle li a {

}
.nav-menu-sub-container {
  display:none;
  position: absolute;
  width: 100%;
}
.nav-menu-sub-container > li > a {
  text-align: center;
  padding:18px 0;
}
[data-menu='sub'] .nav-menu-sub-container {
  display:flex;
  flex-direction: column;
}



/*------------------------------------------ Popup ------------------------------------------*/
.popup {
  z-index:31;
}
.popup[data-type=''] {
  display:none;
}
.popup.open {
  display:block;
}
.popup .bg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index:32;
}
.popup .window {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:60px;
/*   top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); */
  margin: 0 auto;
  background-color:#f7f7f7;
  border:1px solid #ddd;
  border-bottom:0;
  z-index:1;
  overflow: hidden;
  z-index:33;
}
.popup .window .close {
  background:transparent url(../images/close.svg) center/24px;
  width:24px;
  height:24px;
  position:absolute;
  right:20px;
  top:20px;
  cursor:pointer;
}


.popup .window .content {
  height:100%;
  margin:61px 28px 0;
  /* height:100%; */
  padding: 0px 48px;
  /* margin: 61px 28px 40px; */
  overflow-y: auto;
}
.popup .window .content .section {
  display:none;
  height:100%;
}
.popup[data-type='about'] .window .content .section.about,
.popup[data-type='behind'] .window .content .section.behind,
.popup[data-type='story'] .window .content .section.story {
  display:initial;
}
.popup .window .content::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
.popup .window .content::-webkit-scrollbar {
  height: 8px;
  width:8px;
}
.popup .window .content::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border: 2px solid #f6f6f6;
}
.popup .window .content::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
  cursor: pointer;
}
.popup .window .caption {
  font: 30px 'bebasneue_r';
  color:#2bbca0;
  text-align:center;
  padding:0 0 47px;
}

.popup .window .text {
  font:18px 'titillium_r';
  color:#000;
  text-align:left;
  max-width:992px;
  margin:0 auto;
  padding-bottom:120px;
}



/*------------------------------------------ Media ------------------------------------------*/

@media (min-width: 768px) {  /* Small devices (tablets, 768px and up) */
}

@media (min-width: 992px) { /* Medium devices (desktops, 992px and up) */
  .nav {
    padding:0px 32px;
  }
  .nav-map {
    display:inherit;
    background-color:#D8D8D8;
    width:100%;
    height: 100%;
    content: "";
  }
  .nav-menu {
    width:auto;
  }
  .nav-menu-container {
    position:static;
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-menu-toggle {
    display:none;
  }
  .nav-title {
    padding:0 42px 0 0;
  }
  .popup .window {
    top:88px;
    left:88px;
    right:88px;
    bottom:60px;
  }
}


@media (min-width: 1200px) { /* Large devices (large desktops, 1200px and up) */

}
/* test */

/* .panorama-wrapper {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
} */

/* .panorama-container {
  background-color:transparent;
  opacity:0;
  height: 200px;
  width: 800px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  z-index:3;
}
.panorama {
  height: 200px;
  width: 2526px;
  background: url(../images/test.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  z-index:2;
} */
.tech-slideshow .mover {
  /* animation: moveSlideshow 12s linear infinite; */
}
/*
.tech-slideshow .mover-2 {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
   animation: moveSlideshow 15s linear infinite;
}

.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
*/


