/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body,html
{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background-color:#eff4f4;
}
* {
  box-sizing: border-box;
}
.noscroll { overflow:hidden; }
.wrapper
{
  margin:0px auto;
  height:100%;
}
#panorama {
  background-color:lightgray;
  height:100%;
  padding:0 0 60px 0;
  position:relative;

}
#panorama .surface {
  height:100%;
  z-index:9;
  width:100%;
  padding:0 0 60px 0;
  position: absolute;
  top: 0px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#panorama .surface:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#panorama .container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  display: table;
}
#panorama .container .panel {
  height:100%;
  z-index:8;
  display:table-cell;
  transform: translate3d(0, 0, 0);
}

.nav {
  height: 60px;
  width: 100%;
  background-color: gray;
  position:relative;
  top:-60px;
}

/* test */

/* .panorama-wrapper {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
} */

/* .panorama-container {
  background-color:transparent;
  opacity:0;
  height: 200px;
  width: 800px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  z-index:3;
}
.panorama {
  height: 200px;
  width: 2526px;
  background: url(../images/test.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  z-index:2;
} */
.tech-slideshow .mover {
  /* animation: moveSlideshow 12s linear infinite; */
}
/*
.tech-slideshow .mover-2 {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
   animation: moveSlideshow 15s linear infinite;
}

.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
*/
